*{
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif
}
h1{
	margin-bottom: 15px;
}
h2{
	margin-bottom: 10px;
}
body{
    background: rgb(247,247,247);
}
.myButton {
	background-color:transparent;
	border-radius:28px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	margin-left: 150px;
}
.myButton:hover {
	background-color:black;
    color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}

.svgdiv{
    width: 50px;
	margin-bottom: 30px;
}
.svgdiv:hover{
	cursor: pointer;
}

.center{
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 30px;
    border-radius: 10px;
	margin-bottom: 0px;
}
#marginbB{
	margin-bottom: 30px;
}
#center1{
	margin: 0 auto;
	max-width: 700px;
	height: fit-content;
	margin-top: 50px;
	padding: 30px;

}
#Layer_2{
	height: 100px;
	margin-bottom: 30px;
}
#center2{
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
	height: fit-content;
	margin-top: 50px;
	padding: 30px;
}

.liste{
	padding: 30px;
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
}
a{
	
	cursor: pointer;
}
.linkinsta{
	margin-left: 0px;
	color: blue;
}
#inst1{
	min-width: 130px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	text-align: center;
}
#inst2{
	min-width: 130px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	text-align: center;

}
.ligne{
	max-width: 400px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	margin: 15px auto;
}

@media screen and (max-width: 734px) {
	.liste{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.myButton{
		margin-left: 0px;
	}
}